# Database connection parameters.
DB_HOST=localhost
DB_PORT=5432
DB_NAME=vkinder
DB_USER=postgres
DB_PASSWORD=postgres

# VkBot configuration.
VK_GROUP_TOKEN=
VK_USER_TOKEN=
VK_GROUP_ID=
VK_CLIENT_TIMEOUT_SEC=600

# ! DANGER PARAMETER !
DB_DROP_TABLES_AFTER_LAUNCH=False
# ! DANGER PARAMETER !
